body {
  background-color: black;
  font-family: 'Handlee', cursive;
}

.titulo img{
  float: right;
  width: 60px;
  position: relative;

}

.post{
  background-color: white;
  margin: 150px auto;
  width: 500px;
  padding: 10px;
  height: 350px;
}

.texto{
  font-size: 20px;
  float:left;
  width:50%;
}

.formulario{
  margin-top:5%;
  float: right;
  width: 50%;
}

.formulario input[type=text]{
  font-family: 'Handlee', cursive; 
  border: none;
  color: gray;
  padding: 5px;
}

input {
  font-size: 20px;
}
footer{
  display: flex;
  justify-content: center;
  clear:both;
  
}

footer input[type=submit]{
  border: none;
  border-bottom: 1px solid gray;
  background-color:darkgray;
  font-family: 'Handlee', cursive;
}