body {
  background-color: black;
}

main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.header {
 width: 100%;
 margin: 0 auto;
 overflow: auto;

}

h1 {
    padding-left: 10px;
    display: inline-block;
    width: 85%;
  }

img {
    width: 10%;
    height: auto;
    display: inline-block;

    
}

.texto {
    display: inline-block;
   
    max-width: 50%;

}

.inputs {
    
    display: inline-block;
    max-width: 50%;

}

.button {
  margin: 0 auto;
  justify-content: center;
}
